body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.logo-image {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto; 
    display: block;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
    color: white;
}

.sidebar {
    width: 240px;
    background: #222e3c;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar button {
    width: 100%;
    padding: 12px;
    border: none;
    background: transparent;
    color: white;
    text-align: left;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}