<div class="product">
    <div class="product-image-container">
        <img src="@Model.Image" alt="Product Image">
        <div class="product-rating">
            <span>@Model.Rating</span>
        </div>
    </div>
    <div class="product-name">
        <span>@Model.Name</span>
    </div>
</div>