<div class="review">
    <div class="review-container">
        <div class="review-header">
            <div class="review-user">
                <div class="user-name">@Model.User</div>
                <div class="review-date">@Model.Date</div>
            </div>
            <div class="review-rating">
                <span>@Model.Rating</span>
            </div>
        </div>
        <div class="review-text">@Model.Description</div>
    </div>
</div>