<link rel="stylesheet" href="product.css">

<div class="product">
    <div class="product-image-container">
        <img src="img.jpg" alt="Product Image">
        <div class="product-rating">
            <span>7.21</span>
        </div>
    </div>
    <div class="product-name">
        <span>Б.Ю. Александров Суфле в молочном шоколаде с ванилью</span>
    </div>
</div>